<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Matteo Carpi">

  <title>MannebacherKäse</title>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  <meta property="og:url"                content="https://www.mannebacherkaese.com" />
  <meta property="og:type"               content="homepage" />
  <meta property="og:title"              content="MannebacherKäse" />
  <meta property="og:description"        content="{{ site.description }}" />
  <meta property="og:image"              content="{{ site.url }}/assets/img/cheese-home-title.jpg" />

  <!-- Global site tag (gtag.js) - Google Analytics Deploy now-->


  <!-- Facebook Pixel Code -->

  <!-- End Facebook Pixel Code -->
</head>
