<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Matteo Carpi">

  <title>MannebacherKäse</title>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  <meta property="og:url"                content="https://www.mannebacherkaese.com" />
  <meta property="og:type"               content="homepage" />
  <meta property="og:title"              content="MannebacherKäse" />
  <meta property="og:description"        content="{{ site.description }}" />
  <meta property="og:image"              content="{{ site.url }}/assets/img/cheese-home-title.jpg" />

  {% if site.url != 'http://localhost:4000' %}
  <!-- Global site tag (gtag.js) - Google Analytics Deploy now-->


  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '775052349545377');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=775052349545377&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  {% endif %}
</head>
