// Mobile
img.logo-small {
  width: 200px;
  margin: 1rem auto;
}
#burger{
  position: fixed;
  right: 0;
  top: 0;
  color: $white;
  background: $blue;
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
}

#quit{
  position: fixed;
  top: 0;
  left: 0;
  color: $white;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}
#mobile-menu {
  position: relative;
}
#links{
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 63vw;
  height: 100vh;
  overflow: hidden;
  margin: -10rem 0 10rem 0;
}
#links a{
  text-align: center;
  text-decoration: none;
  color: $white;
  font-size: 1em;
  font: 100% Campton-Book;
  z-index: 10;
  padding: 1rem 0;
}
.logo-icon {
  z-index: 10;
  width: 50%;
  object-fit: contain;
  margin: 0 auto;
}
// Desktop
#navigation-desktop {
  display: none;
}
