.slide.home {
  background: center / cover no-repeat url("/assets/img/cheese-home-title.jpg")
}
.fb-video {
  margin-bottom: 2rem;
}
#contacts {
  width: 100%;
 * {
   color: $white;
 }
 .contact-in-wrap {
   margin: 4rem auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   max-width: 1000px;
 }
 p {
   text-align: center;
 }
 h1 {
   margin: 1rem auto;
 }
}
#contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
}
div#welcome {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facebook-video-wrap {
  margin: 0 auto;
  width: 50%;
}
#contacts {
  padding: 2rem 0;
}
