div#markets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div#market {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1rem;
    box-shadow: 2px 2px 10px $dark-grey;
    padding: 4rem 1rem;
    i.fas.fa-store-alt {
    box-shadow: 2px 2px 10px #212121;
    margin: -6.6rem 0 6rem 0;
    font-size: 40px;
    color: $blue;
    background-color: white;
    padding: 1rem;
    }
    #market-dates {
      p {
        text-align: center;
      }
    }
}
div#visit-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
