@media screen and (min-width:768px) {
  // Navigation
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navigation-desktop {
    display: block;
    justify-content: center;
    padding-bottom: 2rem;
    a, span {
    font-size: 20px;
    text-decoration: none;
    font: 90% Campton-Bold;
    text-transform: uppercase;
    color: $blue;
    padding: 0 2rem;
    margin: 1rem 0;
    }
    a + a {
      border-left: solid 2px;
      border-color: $blue;
    }
    a:hover, a.active {
      text-decoration: underline;
    }
  }
  #mobile-menu {
    display: none !important;
  }
  // Cheese Laboratory
  .product-details {
  flex-direction: row;
  }
}
