// Colors

$white: #E8E5C2;
$red: #8A3A3D;
$blue: #2F637F;
$grey: #616161;
$dark-grey: #212121;
// Fonts
@font-face {
  font-family: "Campton-Book";
  src: url("/assets/fonts/Campton Book.otf");
}

@font-face {
  font-family: "Campton-Bold";
  src: url("/assets/fonts/Campton Bold.otf");
}

@font-face {
  font-family: "Campton-Black";
  src: url("/assets/fonts/Campton Black.otf");
}

@font-face {
  font-family: "SnellRoundhand";
  src: url("/assets/fonts/SnellRoundhand.woff");
}

$Medium: Campton-Medium, Helvetica, sans-serif;
$Bold: Campton-Bold, Helvetica, sans-serif;
$Black: Campton-Black, Helvetica, sans-serif;
$Quote: SnellRoundhand, Helvetica, sans-serif;
