---
layout: page
---
{% for item in page.products %}
<div class="product-slide" style="background: url({{ item.image }})">
  <h1 class="blue">{{ item.name }}</h1>
</div>

<div class="product-details">

  <div class="ingredients">
    <h2 class="red">Ingredients</h2>
    <ul>
      {% for item in item.ingredients %}
      <li class="ingredient">{{ item }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="description">
    <h2 class="red">Description</h2>
    <p>{{ item.description }}</p>
  </div>
</div>

<div class="product-gallery">
  {% for item in item.gallery %}
  <img class="product-image" src="{{ item }}" alt="">
  {% endfor %}
</div>
{% endfor %}
