---
layout: page
---

{% for item in page.areas %}
<div class="slide" style="background-image: url({{ item.image }})">
  <h1 class="white">{{ item.title }}</h1>
</div>
<div class="intro farm">
  <i class="fas farm {{  item.icon }}"></i>
  {{ item.description | markdownify }}
</div>

<div class="sub-area">
  {% for item in item.list %}
  <h2 class="red">{{ item.name }}</h2>
  <img class="small-square"src="{{ item.image }}" alt="">
  <p>{{ item.description }}</p>
  {% endfor %}
</div>
{% endfor %}
