---
layout: default
---
<div class="home">
  <h1 class="slogan">From the field to your table</h1>
</div>

<div id="welcome">
<h1 class="blue">What do we do?</h1>

<div class="intro">
  {{ site.description | markdownify }}
</div>

</div>

<div class="facebook-video-wrap">
  <div id="fb-root"></div>
<script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v3.2"></script><div class="fb-video" data-href="https://www.facebook.com/MannebacherZiegen/videos/1799822256791841/"><blockquote cite="https://www.facebook.com/MannebacherZiegen/videos/1799822256791841/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MannebacherZiegen/videos/1799822256791841/">Ein Tag am Hof mit &#064;MannebacherZiegen</a><p>Ein typische Tag am Hof für die MannebacherZiegen #ziegen #käse</p>Posted by <a href="https://www.facebook.com/MannebacherZiegen/">Mannebacher Käse</a> on Friday, September 14, 2018</blockquote></div>
</div>

{% for item in page.sections %}
<div class="slide" style="background-image: url({{ item.photo }})">
  <h1 class="white">{{ item.title }}</h1>
</div>

<div class="preview">
  {{ item.intro | markdownify }}

  {% if item.more == true %}
  <a class="cta {% if item.title == "The Cheese Lab" %} blue-background {% endif %}" href="/the-farm">READ MORE</a>
  {% endif %}
</div>
{% endfor %}

<div id="contacts" class="blue-background">

  <h1 class="white">Contacts</h1>

  <div class="contact-in-wrap">

    <div id="address">
      {{ site.address | markdownify }}
    </div>

    <div id="contact-details">

      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <span>{{ site.telephone }}</span>

      <div id="social">
        <a href="{{ site.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="{{ site.instagram }}"><i class="fab fa-instagram"></i></a>

      </div>

    </div>

  </div>

</div>
