---
layout: page
---
<div id="markets">

  {% if page.lang == 'en' %}

  {% for market in site.data.markets-en %}
  <a class="market-wrap" href="{{ market.coords }}" target="blank">

    <div id="market">

      <i class="fas fa-store-alt"></i>
      <h2 class="red">{{ market.name }}</h2>
      <h3>{{ market.address }}</h3>
      <div id="market-dates">
        {% for market in market.times %}
        {{ market | markdownify }}
        {% endfor %}
      </div>

    </div>
  </a>
  {% endfor %}

</div>

<div id="visit-us" class="">
  <img class="logo-small" src="{{ site.logo }}" alt="">
  <p>{{ page.come-visit }}</p>
  <a class="cta red-background" href="/#contacts">Contact Us</a>
</div>

{% else %}

{% for market in site.data.markets-de %}
<div id="market">

  <i class="fas fa-store-alt"></i>
  <h2 class="red">{{ market.name }}</h2>
  <h3>{{ market.address }}</h3>
  <div id="market-dates">
    {% for market in market.times %}
    {{ market | markdownify }}
    {% endfor %}
  </div>

</div>
{% endfor %}

</div>

<div id="visit-us" class="">
  <img class="logo-small" src="{{ site.logo }}" alt="">
  <p>{{ page.come-visit }}</p>
  <a class="cta red-background" href="/#contacts">Contact Us</a>
</div>

{% endif %}