---
layout: page
---
<div id="markets">

{% for item in page.markets %}
<div id="market">
  <i class="fas fa-store-alt"></i>
  <h2 class="red">{{ item.name }}</h2>
  <h3>{{ item.address }}</h3>
  <div id="market-dates">
  {% for item in item.times %}
  {{ item | markdownify }}
  {% endfor %}
</div>
</div>
{% endfor %}

</div>

<div id="visit-us" class="">
  <img class="logo-small" src="{{ site.logo }}" alt="">
  <p>{{ page.come-visit }}</p>
  <a class="cta red-background"href="/#contacts">Contact Us</a>
</div>
